.banner {
  text-align: center;
  line-height: 26px;
  background-color: $bg-color;
  background-image: url("../../img/background/banner-desktop.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  max-width: 1200px;
  margin: 0 auto;
}

.banner__container {
  min-height: 390px;

  @media (min-width: $breakpoint-medium) {
    min-height: 518px;
  }
}
