.button {
  font-family: $font-page;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  background-color: $bg-color;
  color: $main-color;
  text-transform: uppercase;
}
