.form-contacts__label {
  color: $text-color;
}

.form-contacts__input {
  font-family: $font-page;
  font-weight: 700;
  font-size: 18px;
  color: $color-black;
  background-color: $bg-input;
  border: none;
}
