.search__wrapper {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.search__heading {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.search__subheading {
  color: $text-color;
}

@media (min-width: $breakpoint-medium) {
  .search__heading {
    font-size: 30px;
  }

  .search__wrapper {
    max-width: 460px;
  }
}
