.video__content {
  font-family: $font-page;
  text-transform: uppercase;
}

.video__heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.video__subheading {
  line-height: 24px;
}
