$font-page: "PT Sans", "Arial", sans-serif;

$bg-color: #81b3d2;
$main-color: #ffffff;
$text-color: #333333;
$bg-advantage-color: #eeeeee;
$color-black: #000000;
$bg-input: #F2F2F2;

$breakpoint-medium: 768px;
$breakpoint-large: 1280px;
$breakpoint-small-down: 767px;
